@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  background-color: hsl(30deg, 38%, 92%);
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1410px;
  padding: 0 15px;
}

/* PC */
@media (max-width: 1410px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* TABLET  */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
/* MOBILE SMALL */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.footer {
  padding: 0 15px 50px 15px;
}

.preview-card-component__container {
  display: flex;
  justify-content: center;
}
.preview-card-component__content {
  display: flex;
  overflow: hidden;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
}
.preview-card-component__image-block img:first-child {
  height: 428px;
  width: 300px;
}
.preview-card-component__image-block img:last-child {
  display: none;
  height: auto;
  max-width: 100%;
  width: 363px;
}
.preview-card-component__text-block {
  padding: 0 25px;
}
.preview-card-component__title {
  font-size: 10px;
  letter-spacing: 4px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  padding: 30px 0 0 0;
}
.preview-card-component__name {
  margin: 0 0 20px 0;
  max-width: 200px;
}
.preview-card-component__name h1 {
  color: hsl(212deg, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
}
.preview-card-component__paragraph {
  margin: 0 0 25px 0;
  max-width: 250px;
}
.preview-card-component__paragraph p {
  line-height: 25px;
  word-spacing: 2px;
}
.preview-card-component__price {
  display: flex;
  margin: 0 0 25px 0;
}
.preview-card-component__button {
  margin: 0 0 25px 0;
}

.price_curent {
  color: hsl(158deg, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 30px;
  font-weight: 700;
  margin: 0 20px 0 0;
}
.price_previous {
  font-size: 12px;
  padding: 8px 0 0 0;
  text-decoration: line-through;
}

.button__add-to-cart {
  border-radius: 5px;
  background-color: hsl(158deg, 36%, 37%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  max-width: 350px;
  padding: 15px 0;
  transition: all ease 0.2s;
  width: 100%;
}
.button__add-to-cart:hover {
  background-color: hsl(228deg, 12%, 48%);
}

@media (max-width: 675px) {
  .preview-card-component__content {
    flex-direction: column;
  }
  .preview-card-component__image-block img:first-child {
    display: none;
  }
  .preview-card-component__image-block img:last-child {
    display: block;
  }
  .preview-card-component__name {
    max-width: 300px;
  }
  .preview-card-component__paragraph {
    max-width: 303px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}