// Layout

$mobile: 375px;
$desktop: 1440px;

// Colors

/// Primary

$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

/// Neutral

$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Font

/// Font Size

$phFontSize: 14px;

/// Font Family

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
$ffMontserrat: 'Montserrat', sans-serif;
// Weights: 500, 700

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
$ffFraunces: 'Fraunces', serif;
// Weights: 700
