@import 'variables', 'clear-style';

html, body {
  height: 100%;
  line-height: 1;
}

body {
  background-color: $cream;
  color: $darkGrayishBlue;
  font-family: $ffMontserrat;
  font-size: $phFontSize;
  font-weight: 500;
}

[class*="__container"] {
  margin: 0px auto;
  max-width: 1410px;
  padding: 0 15px;
}

/* PC */
@media (max-width: 1410px) {
  [class*="__container"] {
      max-width: 970px;
  }
}
/* TABLET  */
@media (max-width: 991.98px) {
  [class*="__container"] {
      max-width: 750px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
      max-width: none;
  }
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.footer {
  padding: 0 15px 50px 15px;
}

.preview-card-component {

  &__container {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    overflow: hidden;
    background-color: $white;
    border-radius: 10px;
  }

  &__image-block {
    img:first-child {
      height: 428px;
      width: 300px;
    }

    img:last-child {
      display: none;
      height: auto;
      max-width: 100%;
      width: 363px;
    }
  }

  &__text-block {
    padding: 0 25px;
  }

  &__title {
    font-size: 10px;
    letter-spacing: 4px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    padding: 30px 0 0 0;
  }

  &__name {
    margin: 0 0 20px 0;
    max-width: 200px;
    h1 {
      color: $veryDarkBlue;
      font-family: $ffFraunces;
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__paragraph {
    margin: 0 0 25px 0;
    max-width: 250px;
    p {
      line-height: 25px;
      word-spacing: 2px;
    }
  }

  &__price {
    display: flex;
    margin: 0 0 25px 0;
  }

  &__button {
    margin: 0 0 25px 0;
  }
}

.price {
  &_curent {
    color: $darkCyan;
    font-family: $ffFraunces;
    font-size: 30px;
    font-weight: 700;
    margin: 0 20px 0 0;
  }

  &_previous {
    font-size: 12px;
    padding: 8px 0 0 0;
    text-decoration: line-through;
  }
}

.button {
  &__add-to-cart {
    border-radius: 5px;
    background-color: $darkCyan;
    color: $white;
    font-weight: 700;
    max-width: 350px;
    padding: 15px 0;
    transition: all ease .2s;
    width: 100%;

    &:hover {
      background-color: $darkGrayishBlue;
    }
  }
}

@media (max-width: 675px) {
  .preview-card-component {
    &__content {
      flex-direction: column;
    }

    &__image-block {
      img:first-child {
        display: none;
      }
      img:last-child {
        display: block;
      }
    }

    &__name {
      max-width: 300px;
    }

    &__paragraph {
      max-width: 303px;
    }
  }
}

.attribution { 
  font-size: 11px; text-align: center; 

  & a {
    color: hsl(228, 45%, 44%);
  }
}